<div class="form-group">
    <label for="interval">Liking Interval (seconds)</label>
    <input type="number" class="form-control" ng-model="settings.net.facebook.interval">
</div>
<div class="form-group">
    <label for="resume">Likes limit per session</label>
    <input type="number" class="form-control" ng-model="settings.net.facebook.max">
</div>
<div class="form-group">
    <label for="pause">Session Interval</label>
    <input type="number" class="form-control" ng-model="settings.net.facebook.sessionTime">
</div>
<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-outline-primary" ng-click="run('facebook')">Run NOW</button>
    </div>
    <div class="col-6 text-right">
    	<button type="button" ng-click="settings.net.facebook.enabled = !settings.net.facebook.enabled" class="btn {{!settings.net.facebook.enabled?'btn-outline-dark':'btn-success'}}">{{!settings.net.facebook.enabled?'Disabled':'Enabled'}}</button>
    </div>
</div>